\newcommand{\studylink}[1]{
DOI: \href{https://doi.org/#1}{{#1}}
}
\newcommand{\impact}[2]{
\textbf{IF-#1: #2}
}

\subsection{Erst- und Letzt-Autorenschaften}

\begin{enumerate}[nolistsep]
\setlength\itemsep{1em}

{{ first_last_author_publications }}

\end{enumerate}
\vspace{0.1cm}

{\footnotesize $\dagger$: gleichwertiger Beitrag}
\vspace{0.1cm}

{% if preprints|length > 0 %}
\subsection{Preprints}
\begin{enumerate}[nolistsep]
\setlength\itemsep{0.9em}

{{preprints}}

\end{enumerate}
{% endif %}

\newpage

\subsection{Co-Autorenschaften}

\begin{enumerate}[nolistsep]
\setlength\itemsep{0.9em}

{{ coauthor_publications }}

\end{enumerate}
